<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="CSS/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
    <script src="js/script.js" defer></script>
    <script src="js/accordion.js" defer></script>
    <title>Checkout</title>
</head>

<body>
    <header class="header">
        <div class="container headerInside">
            <div class="logo">
                BRAN<span>D</span>
            </div>
            <form class="searchWrap">
                <div class="searchBrowse">
                    Browse <i class="fas fa-caret-down"></i>
                </div>
                <input placeholder="Search for Item..." type="text">
                <button>
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <img class="headerCart" src="images/cart.png" alt="">
            <button class="accountBtn">
                My Account
                <i class="fas fa-caret-down"></i>
            </button>
        </div>
    </header>
    <nav class="topNav">
        <a href="">Home</a>
        <a href="">Man</a>
        <a href="">Women</a>
        <a href="">Kids</a>
        <a href="">Accoseriese</a>
        <a href="">Featured</a>
        <a href="">Hot Deals </a>
    </nav>
    <div class="newArrivalsWrap">
        <div class="container newArrivals">
            <h1>New arrivals</h1>
            <nav>
                <a href="">Home</a>
                <span>/</span>
                <a href="">Men</a>
                <span>/</span>
                <a href="">New arrivals</a>
            </nav>
        </div>
    </div>
    
    <main>
       
       <div class="accordion cst" id="accordionExample">
  <div class="container card">
    <div class="card-header st" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link checkoutform" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <div>01. shipping adress</div>
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        
        <div class="container checkoutform">
            <div class="shippingcheckout">

                <div class="check">
                    <div>Check as a guest or register</div>
                    <div class="checkouttext">Register with us for future convenience</div>
                    <form action="radio">
                        <div>
                            <input id="rfirst" type="radio" name="radio">
                            <label for="rfirst">checkout as guest</label>
                        </div>
                        <div>
                            <input id="rsecond" type="radio" name="radio" checked>
                            <label for="rsecond">register</label>
                        </div>
                    </form>
                    <div>register and save time!</div>
                    <div class="checkouttext">Register with us for future convenience</div>
                    <div class="checkouttextbot"><span>»</span> Fast and easy checkout</div>
                    <div class="checkouttextbot"><span>»</span> Easy access to your order history and status</div>
                    <div>continue</div>

                </div>

                <div class="registed">
                    <div>Already registed?</div>
                    <div class="checkouttext">Please log in below</div>
                    <form action="text">
                        <div>EMAIL ADDRESS<span>*</span></div>

                        <input type="email">
                        <div>PASSWORD<span>*</span></div>
                        <input type="password">
                    </form>
                    <div>* Required Fileds</div>
                    <div class="checkbot">
                        <div>LOG IN</div>
                        <div><a href="#">Forgot Password?</a></div>
                    </div>
                </div>

            </div>
        
      </div>
    </div>
  </div>
</div>

<div class="container card">
    <div class="card-header st" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed checkoutform" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <div>02. BILLING INFORMATION</div>
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  
  <div class="container card">
    <div class="card-header st" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed checkoutform" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <div>03. SHIPPING INFORMATION</div>
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  
  <div class="container card">
    <div class="card-header st" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed checkoutform" type="button" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
          <div>04. SHIPPING METHOD</div>
        </button>
      </h5>
    </div>
    <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>

<div class="container card">
    <div class="card-header st" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed checkoutform" type="button" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
          <div>05. PAYMENT METHOD</div>
        </button>
      </h5>
    </div>
    <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  
  <div class="container card">
    <div class="card-header st" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed checkoutform" type="button" data-toggle="collapse" data-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
          <div>06. ORDER REVIEW</div>
        </button>
      </h5>
    </div>
    <div id="collapsesix" class="collapse" aria-labelledby="headingsix" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>

</div>     


        <div class="bottombanerwrapbg">
            <div class="bottombanerwrap">
                <div class="container bottomBannerContent">
                    <div class="bottomBannerSign">
                        <img src="images/Layer40.png" alt="">
                        <div class="bottomBannertext">
                            <div>
                                “Vestibulum quis porttitor dui! Quisque viverra nunc mi, a pulvinar purus condimentum a. Aliquam condimentum mattis neque sed pretium”
                            </div>
                            <div>Bin Burhan</div>
                            <div>Dhaka, Bd</div>
                            <div class="naviform">
                                <a href="">
                                    <div class="navi">

                                    </div>
                                    <div class="navi">

                                    </div>
                                    <div class="navi">

                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>


                    <div class="subscribe">
                        <div>subscribe</div>
                        <div>FOR OUR NEWLETTER AND PROMOTION</div>
                        <form class="searchWrapbottom">
                            <input placeholder="Enter Your Email" type="text">
                            <button>
                                Subscribe
                            </button>

                        </form>
                    </div>
                </div>

            </div>
        </div>
        <div class="container navibottom">
            <div class="about">
                <div class="logo">
                    BRAN<span>D</span>
                </div>
                <div class="abouttext">
                    <div>
                        Objectively transition extensive data rather than cross functional solutions. Monotonectally syndicate multidisciplinary materials before go forward benefits. Intrinsicly syndicate an expanded array of processes and cross-unit partnerships.
                    </div>
                    <div>
                        Efficiently plagiarize 24/365 action items and focused infomediaries.
                        Distinctively seize superior initiatives for wireless technologies. Dynamically optimize.
                    </div>

                </div>
            </div>
            <div class="navibottommenu">
                <div>COMPANY</div>
                <div>
                    <a href="#">Home</a>
                    <a href="#">Shop</a>
                    <a href="#">About</a>
                    <a href="#">How it wors</a>
                    <a href="#">Contact</a>
                </div>
            </div>
            <div class="navibottommenu">
                <div>INFORMATION</div>
                <div>
                    <a href="#">Tearms & Condition</a>
                    <a href="#">Privacy Policy</a>
                    <a href="#">How to Buy</a>
                    <a href="#">How to Sell</a>
                    <a href="#">Promotion</a>
                </div>
            </div>
            <div class="navibottommenu">
                <div>SHOP CATEGORY</div>
                <div>
                    <a href="#">Men</a>
                    <a href="#">Women</a>
                    <a href="#">Child</a>
                    <a href="#">Apparel</a>
                    <a href="#">Brows All</a>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="container footerinfo">
                <div>© 2017 Brand All Rights Reserved.</div>
                <div class="socialicons">
                    <div class="socialicon">
                        <a href="#">
                            <img src="images/f.png" alt="">
                        </a>
                    </div>
                    <div class="socialicon">
                        <a href="#">
                            <img src="images/t.png" alt="">
                        </a>
                    </div>
                    <div class="socialicon">
                        <a href="#">
                            <img src="images/in.png" alt="">
                        </a>
                    </div>
                    <div class="socialicon">
                        <a href="#">
                            <img src="images/p.png" alt="">
                        </a>
                    </div>
                    <div class="socialicon">
                        <a href="#">
                            <img src="images/g.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </main>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    
</body>

</html>
